* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #1976d2;
}

.container {
  width: 1024px;
  margin: 0 auto;
  background-color: #fff;
}

header {
  padding: 15px;
  margin: 0 10px 10px 10px;
  border-bottom: 4px solid #1976d2;
}

header h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1976d2;
}

section {
  padding: 15px;
  margin: 0 10px 10px 10px;
  border-bottom: 4px solid #1976d2;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: #1976d2;
  margin-bottom: 10px;
}

.container-flex {
  display: flex;
}

.avatar {
  width: 186px;
  height: 186px;
  margin-right: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.user-data {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-data li {
  font-size: 24px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #1976d2;
}

a:hover, a:focus {
  text-decoration: underline;
  color: ;
}

p {
  margin-bottom: 10px;
}

blockquote {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  font-style: italic;
  background-color: rgba(25, 118, 210, 0.7);
  border-radius: 10px;
}

.code {
  display: inline-block;
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  white-space: pre-wrap;
  background-color: rgba(25, 118, 210, 0.2);
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  width: 33%;
  padding: 10px;
}

ul, ol {
  margin-left: 15px;
}

footer {
  padding: 15px;
  margin: 0 10px 10px 10px;
}

footer p {
  font-style: italic;
}